{
    "data": [
        {
            "title": "iCloud",
            "cycle": "monthly",
            "price": 21,
            "currency": "CNY"
        },
        {
            "title": "Evernote",
            "cycle": "annual",
            "price": 233,
            "currency": "CNY"
        }
    ]
}